.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(65, 65, 65);
    color: white;

    margin-top: 3rem;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 10vh;
}

ul{
    text-align: center;
}

ul li:hover{
    cursor: pointer;
    color: rgb(131, 169, 243);
}

.social-list{
    flex: 1;
}

.site-map{
    flex: 1;
}

.additional-content{
    flex: 1;
}