.design-switcher{
    height: 50px;
    width: 50px;
    background-color: rgb(230, 116, 116);
    position: absolute;
    left: 0;
    box-shadow: 2px 2px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-switcher i {
    font-size: 2rem;
    color: white;
}

.design-switcher:hover{
    cursor: pointer;
    background-color: rgb(243, 52, 52);
}